<template>
    <div class ="page_wrapper">
        <div class="heading">
            <a href="">
            <img/>
            </a>
            <h1> ♥♦♠♣ Freecell ♣♠♦♥ </h1>
        </div>
        <div class="menu_wrapper">
            <router-link to="/freecell">
            <div class="option">
                <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple111/v4/f2/f3/66/f2f36688-73bb-9275-a304-f4839d65af66/source/512x512bb.jpg" alt="" />
                <p> Play!</p>
            </div>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style scope>
@import url(https://fonts.googleapis.com/css?family=Roboto);
.logo {
    margin: 1% 0 0 0 0;
    height: 10vh;
    padding: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}
a {
    text-decoration: none;
}

h1 {
    margin: 0 0 0 0;
    color: rgb(34,34,32);
    font-weight: 400;
    font-family: "Roboto" cursive;
    font-size: 4vw;
    text-shadow: 3px 2px 4px rgba(0,0,0,0.548);
}

.page_wrapper {
  text-align: center;
  background-image: radial-gradient(
    rgba(57, 172, 57, 0.726),
    rgb(0, 116, 0),
    darkgreen
  );
  height: 100vh;
  overflow: hidden;
}
.menu_wrapper {
  margin: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.option img {
  transition: all 0.3s;
  margin: 5% 5% -2% 5%;
  width: 19vw;
  padding: 5%;
  border: 2px solid lightblue;
  border-radius: 10px;
  height: 12vw;
}
.option p {
  color: darkred;
  text-align: center;
  font: 3vw Georgia, Times New Roman, serif;
}
.option {
  position: relative;
  top: 10vh;
  background: rgb(34, 34, 32);
  border-radius: 10px;
  width: 25vw;
  height: 25vw;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 4%;
}
.larger {
  transform: scale(1.1, 1.1);
}
.option:hover {
  transition: all 0.3s;
  transform: scale(1.2, 1.2);
  border: 3px solid firebrick;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.option:hover p {
  color: red;
}
.option:hover img {
  padding: 2%;
  border: 5px solid lightblue;
  border-radius: 10px;
}
</style>