<template>
  <div class="main_wrapper">
    <transition name="fade">
      <router-view> </router-view>
    </transition>
  </div>
</template>

<script>
import Freecell from "./views/Freecell.vue"

export default {
  name: 'mainTable',
  component: {
    Freecell
  },
  data: function() {
    return {
      chosen: false
    };
  }
};
</script>

<style>

</style>
